## Basic Data Exploration

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [2]:
employee_data_path = "Employee_Churn_Dataset.csv"
employee_data=pd.read_csv(employee_data_path)

In [3]:
employee_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [4]:
employee_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
employee_data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments', 'salary'],
      dtype='object')

## Building First Machine Learning Model

In [6]:
#Desired prediction column
y = employee_data.left

In [13]:
#List of features
feature_names = ["satisfaction_level","last_evaluation","number_project","average_montly_hours",
                 "time_spend_company", "Work_accident","promotion_last_5years"]

In [14]:
#Seect data corresponding to features in feature_names
X = employee_data[feature_names]

In [15]:
X.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000

In [16]:
X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
0,0.38,0.53,2,157,3,0,0
1,0.80,0.86,5,262,6,0,0
2,0.11,0.88,7,272,4,0,0
3,0.72,0.87,5,223,5,0,0
4,0.37,0.52,2,159,3,0,0

In [17]:
employee_model=DecisionTreeRegressor(random_state=1)

#Fit the model
employee_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [22]:
#make predictions
predictions = employee_model.predict(X)
print(predictions)

[1. 1. 1. ... 1. 1. 1.]

In [21]:
print(employee_model.predict(X.head()))

[1. 1. 1. 1. 1.]

## Model Validation

In [23]:
#Calculate mean absolute error
from sklearn.metrics import mean_absolute_error

predicted_lefts = employee_model.predict(X)
mean_absolute_error(y, predicted_lefts)

0.00016001066737782518

In [24]:
#Training using data split
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)
#Define the model
employee_model = DecisionTreeRegressor()
#fit Model
employee_model.fit(train_X, train_y)
#get predicted values from validation data
val_predictions = employee_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

0.019933333333333334

In [26]:
print("First in-sample predictions:", employee_model.predict(val_X.head()))
print("Actual target values for those employees:", y.head().tolist())

First in-sample predictions: [1. 0. 0. 0. 0.]
Actual target values for those employees: [1, 1, 1, 1, 1]

## Underfitting and Overfitting